@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --ascent-color: #111b1f;
    --background-color: #17252a;
    --font-color: #a8d8c9;
    --form-color: #2a3d44;
    --sub-color: #038058;
    --button-color: #101a1d;
}

* {
    box-sizing: border-box;
}


body {
    font-family: Poppins;
    height: 100%;
    width: 100vw;
    overflow-y: hidden; 
    overflow-x: hidden;
}

.bg{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background: linear-gradient(179deg, #a70000, #c2240e, #e1410b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.form-container{
    background-color: #101a1d;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.76);

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 450px;
    width: 100%;
    height: 50vh;   

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-container form>input,button,h1{
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

h1{
    color: #b31004;
    margin-bottom: 20px;
}

input{
    color: #b31004;
    background-color: #1d2a2e;
    outline: none;
    font-family: Poppins;
    width: 250px;
    padding: 15px;
}
input[type=text]:-moz-placeholder{
    color: #b31004;
    background-color: #1d2a2e;
}

button{
    background-color: #010101;
    font-family: Poppins;
    font-size: 12px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    color: #b31004;
}

button:hover{
    background-color: #9b0000;
    color: #010101;
}

button:active{
    background-color: #e06f6f;
}
